main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.app {
  border: 2px solid #f44336;
  border-radius: 12px;
  padding: 24px;
  max-width: 500px;
  margin: 40px auto;
  background: #fffdf7;
  font-family: "Segoe UI", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
